<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1 style="color: rgb(15, 3, 27);">Order -# <%= order._id %></h1>
                            <hr>
                            <ul>
                                <% order.products.forEach(p => { %>
                                    <li><%= p.product.title %> (<%= p.quantity %>) $<%= p.product.price *  p.quantity%></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>